.main {
    display:flex;
    flex-direction:row;
}

.image-container {
    width:500px;
    height:auto;
    overflow:hidden;
    display:block;
}

.laptop-image {
    height:auto;
    width:100rem;
    margin: -100px 0 0 -300px;
    transform: scaleX(-1);
}

.right-screen{
    display:flex;
    flex-direction:column;
    width:700px;
}

.to-sign-in {
    display:flex;
    flex-direction:row;
    align-self:flex-end;
    justify-content:center;
    align-items:center;
    margin:5px 1rem 0 0;
}

.to-sign-in Button {
    margin:0 0 0 10px;
    padding:.1rem;
    border-radius:50px;
    width:100px;
    height:25px;
}

.get-started {
    padding:10% 0 0 10vw ;
    display:flex;
    flex-direction:column;
}

.get-started h1 {
    color:gray;
}

.signup-form {
    display:flex;
    flex-direction:column;
    width:20rem;
    max-width:40vw;
}

.signup-form .form-control {
    padding:1rem 0 1rem 0;
}


.input-title {
    padding:2vw 0 .5vw 0
}

#form-submit {
    margin:3rem 0 0 0;
    padding:.5rem;
    border-radius:50px;
    width:35%;
}

@media (max-width:700px) {
    .image-container {
        display:none;
    }
    .sign-in {
        flex-direction:column;
        align-self:center;
    }
    .get-started{
        align-items:center;
        padding:2rem 0 0 0;
    }
    .signup-form {
        max-width:60vw;
    }
    #form-submit {
        margin:1.5rem 0 1.5rem 0;
        padding:1rem;
        border-radius:50px;
        width:50%;
        align-self:center;
    }
}